<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div class="row">
      <div class="col-md-3">
        <h2>St채llning</h2>
      	<ol class="list-group">
          <% var i = 1 %>
      		<% score.forEach(function(position) { %>
      			<li class="list-group-item"><%= i %>. <%= position.name %> - <%= position.points %> po채ng</li>
      		<%	i++}); %>
      	</ol>
      </div>
      <div class="col-md-7">
        <% for(var j=0; j<tips.length; j++ ) { %>
          <div class="col-md-4">
            <h2><%= tips[j].name %></h2>
            <ul class="list-group">
              <% var l = 0; %>
              <% tips[j].teampoints.forEach(function(data) { %>
              <% l++ %>
              <li class="list-group-item" 
                <% if (data.points === 16) { %> style="background-color:#33cc33" <% } 
                    else if (data.points > 13 ) { %> style="background-color:#ccff66" <% }
                    else if (data.points < 10 ) { %> style="background-color:#ff5050" <% }
                %>
              >
                <%= l %>. <%= data.name %> po채ng:<%= data.points %>
              </li>
              <% })  %>
            </ul>
          </div>
        <% } %>
      </div>
      <div class="col-md-2">
        <h2>Nuvarande tabell</h2>
        <ul class="list-group">
        <% var k = 1; %>
        <% table.result.item.forEach(function(tbl) { %>
          <li class="list-group-item">
            <%= k %>. <%= tbl.team %>
          </li>
          <% k++ %>
        <% }) %>
        </ul>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-md-3">
        <button type="button" id="result" class="btn btn-primary">Uppdatera resultat</button>
      </div>
      <div class="col-md-2">
        <a href="#" id="save-round">Spara som omg책ng</a>
      </div>
    </div> -->
    <script type="text/javascript">
      $('button').click(function() {
        $.post('/scrape');
      });
      $('#save-round').click(function() {
        $.post('/scrape-round');
      });
    </script>
  </body>
</html>
